.activity-container {
    display: flex;
    align-items: center;
    justify-content: left;
    border: 1px solid black;
    border-radius: 3px;
    margin: 0.8em 0;
    padding: 10px;
    box-shadow: 2px 0px;
    border-radius: 2em;
}
.activity-container:hover {
    background-color: rgb(230, 230, 230);
}

.activity-to {
    color: grey;
}

.activity-phone-answered {
    display: inline-block;
    vertical-align: middle;
    margin: auto 5px;
    color: green;
}
.activity-phone-missed {
    display: inline-block;
    vertical-align: middle;
    margin: auto 5px;
    color: red; 
}
.activity-phone-voicemail {
    display: inline-block;
    vertical-align: middle;
    margin: auto 5px;
    color: black;
}

.activity-time {
    color: rgb(50, 50, 50);
    float: right;
    font-size: 1.4em;
    padding-left: 20px;
    border-left: 1px groove rgb(50, 50, 50);
}
.activity-duration {
    color: grey;
    float: left;
    font-style: italic;
}
.activity-via {
    text-align: right;
    color: grey;
}
.activity-table {
    width: 85%;
    float: right;
}

.activity-to {
    font-weight: bold;
}

.date-container {
    color: grey;
    float: right;
    font-size: 0.9em;
    letter-spacing: 1.5px;
    font-style: italic;
}