.activity-container {
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px 0;
    padding: 10px;
}

.activity-to {
    color: grey;
}

.activity-phone-inbound {
    float: left;
    margin-top: auto;  
    color: blue;
}
.activity-phone-outbound {
    float: left;
    margin-top: auto;
    color: green;  
}
.activity-duration {
    color: grey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}