#app {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #424242;
}

#app .navbar {
  display: flex;
  font-family: 'Roboto', sans-serif;
  
}

#app .container {
  width: 376px;
  height: 666px;
  z-index: 100;
  background: rgb(237, 237, 237);
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
}

#app .container-view {
  padding: 0 20px 20px;
}

#app .tabs {
  background: rgba(128, 128, 128, 0.075);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  font-family: 'Roboto', sans-serif;
  max-height: 4em;
  padding: 8% 8%;
  margin: 0;
  border-top: 3px solid transparent;
  border-left: 1px solid transparent;
}
#app .tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}
#app .tabs svg{
  position: relative;
  top: -6px;
}
#app .tabs:hover {
  cursor: pointer;
}
#app .active-tabs{
  background-color: inherit;
  border: none;
  border-top: 3px solid rgb(88, 147, 241);
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
}


#app .active-content {
  display: block;
}
#app .content {
  display: none;
}

.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
}


#app .bottom-wave {
  position: absolute;
  bottom: 147px;
  max-width: 376px;
  opacity: 40%;
}
#app .bottom-wave svg{
  border-radius: 3px;
}


